@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .all-\[unset\] {
    all: unset;
    }
}

:root {
--secondary: rgba(255, 255, 255, 1);
--ssss: 0px 16px 24px -8px rgba(0, 0, 0, 0.24);
}
